@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

html, body {
	font-family: 'Roboto', 'Open Sans', sans-serif;
}

.post-details-wrapper {
	border: 1px #ebebeb solid;
	border-radius: 0.3rem;
	-moz-box-shadow:    0 8px 6px -6px #ccc;
	-webkit-box-shadow: 0 8px 6px -6px #ccc;
	box-shadow:         0 8px 6px -6px #ccc;
	padding: 1rem;

	&:nth-child(even) {
		background-color: #f0f0f0;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.post-details-img {

		img {
			max-width: 100%;
			min-width: 100%;
		}
	}

	.post-details-info {

		h3 {
			margin-top: 0;
		}

		.post-details-time-ago {
			color: #C7C6CE;
		}
	}

	.post-wrapper {
		border-left: 1px solid #E1E1E1;

		.post-author {

			.post-author-rounded-img {

				img {
					display: block;
					margin: 0 auto;
					width: 150px;
				}
			}

			.post-author-information {
				line-height: 3rem;
				text-align: center;

				a {
					color: #C83430;
					font-weight: bold;
				}
			}
		}
	}
}

.forum-pagination {
	text-align: center;

	nav {

		.pagination {

			li {

				a {
					color: #000;
					border: 0;

					&:hover {
						background-color: #fff;
					}
				}

				.rounded {
					border-radius: 50%;
					margin: 0 0.5rem;

					&:hover,
					&.active {
						background-color: #C83430;
						color: #fff;
					}
				}
			}
		}
	}
}
